<div class="row">
    <form class="form-horizontal" ng-controller="customerController" ng-submit="add()">
        <div class="form-group" id="personalData">
            <label for="surname" class="col-sm-2 control-label">ФИО</label>
            <div class="col-sm-3">
                <input type="text" ng-model="addForm.surname" id="surname" placeholder="Фамилия" class="form-control" required>
            </div>
            <div class="col-sm-3">
                <input type="text" ng-model="addForm.name" id="name" placeholder="Имя" class="form-control" required>
            </div>
            <div class="col-sm-3">
                <input type="text" ng-model="addForm.patronymic" id="patronymic" placeholder="Отчество" class="form-control" required>
            </div>
        </div>
        <div class="form-group" id="birthdayData">
            <label for="birthday" class="col-sm-2 control-label">Дата рождения</label>
            <div class="col-sm-3">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" id="birthday" ng-model="addForm.birthdate" required>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group" id="sexData">
            <label for="sex" class="col-sm-2 control-label">Пол</label>
            <div class="col-sm-3">
                <div class="radio">
                    <label id="sex"><input type="radio" name="optradio" id="male" checked>Мужской</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="optradio" id="female">Женский</label>
                </div>
            </div>
        </div>
        <hr/>
        <div class="form-group" id="passwordNumberData">
            <label for="passportCode" class="col-sm-2 control-label">Паспортные данные</label>
            <div class="col-sm-2">
                <input type="text" id="passportCode" ng-model="addForm.passportCode" placeholder="Серия паспорта" class="form-control" required/>
            </div>
            <div class="col-sm-3">
                <input type="text" id="passportNumber" ng-model="addForm.passportNumber" placeholder="Номер паспорта" class="form-control" pattern="\d{6,}" title="Номер паспорта должен содержать не менее 6 цифр" required/>
            </div>
        </div>
        <div id="passportInfo" class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <input type="text" id="passportIssuePlace" ng-model="addForm.passportIssuePlace" placeholder="Кем выдан паспорт" class="form-control" required/>
            </div>
            <label for="passportIssueDate" class="col-sm-2 control-label">Дата выдачи</label>
            <div class="col-sm-3">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" ng-model="addForm.passportIssueDate" id="passportIssueDate" required>
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="personalIdData" class="form-group">
            <div class="col-sm-4 col-sm-offset-2">
                <input type="text" id="personalId" ng-model="addForm.id" placeholder="Идентификационный номер" class="form-control" pattern="[\w\d]{14,14}" title="Идент. номер должен состоять из 14 символов" required/>
            </div>
        </div>
        <hr/>
        <div id="birthPlaceData" class="form-group">
            <label for="birthplace" class="col-sm-2 control-label">Место рождения</label>
            <div class="col-sm-3">
                <input type="text"  id="birthplace" ng-model="addForm.birthplace" placeholder="Место рождения" class="form-control" required>
            </div>
        </div>
        <div id="cityData" class="form-group">
            <label for="city" class="col-sm-2 control-label">Город фактического проживания</label>
            <div class="col-sm-3">
                <select class="form-control" id="city" ng-model="addForm.city">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div id="addressData" class="form-group">
            <label for="address" class="col-sm-2 control-label">Адрес фактического проживания</label>
            <div class="col-sm-7">
                <input id="address" placeholder="Адрес" class="form-control" required ng-model="addForm.address"/>
            </div>
        </div>
        <hr/>
        <div id="phonesData" class="form-group">
            <label for="homePhone" class="col-sm-2 control-label">Домашний телефон</label>
            <div class="col-sm-3">
                <input type="text" ng-model="addForm.homePhone" id="homePhone" class="form-control" pattern="\d{6,9}" title="Введите корректный номер телефона, который содержит код и номер." placeholder="Домашний телефон"/>
            </div>
            <label for="mobilePhone" class="col-sm-2 control-label">Мобильный телефон</label>
            <div class="col-sm-3">
                <input type="text" ng-model="addForm.mobilePhone" id="mobilePhone" class="form-control" pattern="\d{6,9}" title="Введите корректный номер телефона, который содержит код и номер." placeholder="Мобильный телефон"/>
            </div>
        </div>
        <div id="emailData" class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-3">
                <input type="email" ng-model="addForm.email" id="email" placeholder="Email" class="form-control"/>
            </div>
        </div>
        <hr/>
        <div id="maritalStatusData" class="form-group">
            <label for="maritalStatus" class="col-sm-2 control-label">Семейное положение</label>
            <div class="col-sm-3">
                <select class="form-control" id="maritalStatus" ng-model="addForm.maritalStatus">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div id="сitizenshipData" class="form-group">
            <label for="сitizenship" class="col-sm-2 control-label">Гражданство</label>
            <div class="col-sm-3">
                <select class="form-control" id="сitizenship" ng-model="addForm.citizenship">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div id="disabilityData" class="form-group">
            <label for="disability" class="col-sm-2 control-label">Инвалидность</label>
            <div class="col-sm-3">
                <select class="form-control" id="disability" ng-model="addForm.disability">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div id="pensioner" class="form-group">
            <div class="checkbox col-sm-offset-2">
                <label><input type="checkbox" ng-model="addForm.pensioner"/>Пенсионер</label>
            </div>
        </div>
        <div id="reservist" class="form-group">
            <div class="checkbox col-sm-offset-2">
                <label><input type="checkbox" ng-model="addForm.reservist"/>Военнообязанный</label>
            </div>
        </div>
        <hr/>
        <div id="salaryData" class="form-group">
            <label for="salary" class="col-sm-2 control-label">Ежемесячный доход</label>
            <div class="col-sm-3">
                <input type="text" id="salary" ng-model="addForm.salary" class="form-control" placeholder="Ежемесячный доход" pattern="\d+(\.\d+)?$" title="Введите корректную денежную величину." required/>
            </div>
        </div>
        <hr/>
        <div class="form-group" id="submitButton">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-default" style="margin-top: 15px;">Добавить</button>
            </div>
        </div>
    </form>
</div>
