<div class="row">
    <form class="form-horizontal" ng-controller="customerController" ng-submit="add()">
        @Html.Partial("CustomerEditForm")
        <hr/>
        <div class="form-group" id="submitButton">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-default" style="margin-top: 15px;">Добавить</button>
            </div>
        </div>
    </form>
</div>
