@font-face {
    font-family: Lato;
    src: url(/fonts/9622.ttf);
}

@font-face {
    font-family: Amazing;
    src: url(/fonts/8343.otf);
}

body {
    font-family: Lato;
}

.menu {
    border-style: solid;
    border-color: firebrick;
    border-width: 3px;
    border-radius: 5px;

    padding: 10px;
}

.logo {
    font-family: Amazing;
    font-size: 32px;
    color: seashell;

    background-color: firebrick;
    height: 76px;
    
    margin-bottom: 20px;
}

.logo-img {
    margin: 3px;
}