<div class="row">
    <div class="col-sm-8">
        Выберите необходимую для работы функцию из меню.
    </div>
    <div class=" col-sm-4">
        <img class="pull-right" width="320" src="~/Content/images/footer.png"/>
    </div>
</div>